#SideBar{
    position: fixed;
    right: 0;
    top: 0vh;
    width: 30vw;
    max-width: 300px;
    min-width: 150px;
    height: 100vh;
    background-color: #1a1b20;
    z-index: 8;
    border-radius: 5px;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    /* flex-flow: column; */
    text-align: center;
    gap: 3vh;
    justify-items: center;
    padding: 1vh;
    padding-top: 5vh;
}
[icon="close-cross"]{
    position: absolute;
    top: 1vh;
    left: 1vw;
    height: 4vh;
}
.btn-blue {
    border: 2px #1818c3 solid;
    margin: 0px 0vw;
    border-radius: 5px;
    cursor: pointer;
    padding: 1vh 1vw;
    color: deepskyblue;
    font-weight: bold;
    width: 100%;
}

#Sidebar-Profilepic{
    height: 15vh;
    aspect-ratio: 1/1;
    background-color: red;
    border-radius: 50%;
    position: relative;
}


.red_brder{border: 2px red solid;
color: red;}