div#root {
  background: #13132b;
  height: 100vh;
  width: 100vw;
  color: white;
  box-sizing: border-box;
  overflow: auto;
  padding-top: 4rem;
  /* background: url(./images/Sprinkle-bg.svg); */
}

.medboldp{
  font-size: medium;
  font-weight: bold;
}

.bookworms-title {
  font-size: xxx-large;
  color: #3f51b5;
  font-family: bulkybook;
}


.boldwhitep{
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#t2 {
  background: url(https://images-na.ssl-images-amazon.com/images/I/71wsKcSKsuL.jpg);
  background-size: cover;
  background-repeat: round;
}
#t1 {
  /* height: 80%; */
  background: url(https://inventwithpython.com/images/cover_bigbookpython_thumb.jpg);
  background-size: cover;
  background-repeat: round;
}