.Book-cover-page-url {
    height: 100%;
    width: calc(100% - 5px);
    background-size: cover;
    background-repeat: round;
    border-radius: 3px;
    margin: 2px;
}


.Book-front {
    height: 100%;
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: calc(100% - 30px) 25px;
    gap: 2%;
}

/* .src-FlippingCard-styles-module__flipping-card-container--3hXUC {
    border: 2px solid #9c27b0;
} */


.Book-back {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 90% 6%;
    height: 100%;
    gap: 2%;
    padding: 2px;
}

.Book-info-div {
    display: grid;
    height: 100%;
    background: rgb(14, 55, 116);
    overflow: auto;
    padding: 2px;
    gap: 1vh;
    align-content: start;
    overflow-x: hidden;
}

.edit-book {
    height: 100%;
    font-size: small;
    padding: 1px;
    background: #9a9aef;
    color: white;
    border: none;
    border-radius: 2px;
    font-weight: normal;
    text-align: center;
}

.ss {
    border: 1px #13132b solid;
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    border-radius: 2px;
    margin: 4px 2px;
    font-weight: bold;
}

span.ss-add,.ss-minus {
    font-weight: bolder;
    background: #13132b;
    cursor: pointer;
}

span.ss-btn{
    display: none;
    background: limegreen;
    cursor: pointer;
}

.ss-minus:hover {
    background: #141452;
}
span.ss-add:hover {
    background: #141452;
}

.read_online_btn{
    background: blueviolet;
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
    width: 100%;
    color:white;
    display: block;
    font-weight: 400;
}


.atcr{
    background: grey;
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
    width: 100%;
    color:white;
    display: block; 
    padding: 2px;
}

[book]{
    border-radius: 3px;
    cursor: grab;
    height: 100%;
}

[book]:hover{
    border: 2px rgb(142, 142, 223) solid;
    transform: rotate3d(28, 6, -25, 4deg);
    
}